/*
 * TODO You don't need any of these. The purpose of this file
 * is to show you basic things you can do with webpack bundle
 */

/* Imports css (or sass, scss) file */
@import 'reset';

/* Imports node_modules dependency */
@import '~github-markdown-css';

html, body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    min-height: 100%;
    padding: 40px;
    box-sizing: border-box;
    background: #fafafa;
    transition: background 1s;

    &_content {
        background: #fff;
        height: 100%;
        position: relative;

        .example-img {
            background: url('../../dist/resources/example.png');
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 40px;
            height: 40px;
        }

        .markdown-body {
            max-width: 800px;
            padding: 40px;
            margin: 0px auto;
            box-sizing: border-box;
        }
    }
}
